.contact-header {
    margin-bottom: 15px;
}

.contact-col {
    padding: 40px;
}

.contact-cell {
    height: 300px;
    width: 100%;
    padding: 20px;
    border-radius: 50px;
    border: black solid 2px;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: local;
    background-position: center;
}

.inline-icon {
    vertical-align: bottom;
    font-size: 18px !important;
}