.news-list {
    margin-top: 20px;
    width: 100%;
}

.news-item {
    width: 100%;
    margin-bottom: 40px;
}

.news-card {
    margin-top: 30px;
    margin-bottom: 30px;
    width: 100%;
}

.news-carousel {
    width: 80%;
    margin: auto;
}