{% extends 'base.html.twig' %}

{% block stylesheets %}
    <link href="{{ asset('css/bike.css') }}" rel="stylesheet"/>
{% endblock %}

{% block body %}
    <div class="row bike-list">
        {% for bike in bikes %}
            <div class="col-sm-6 col-md-4 col-lg-3">
                <h4>{{ bike.name }}</h4>
                <a class="btn btn-primary btn-sm" href="{{ path('bikes_page_details', {id: bike.id}) }}">More</a>
            </div>
        {% endfor %}
    </div>
    {% include 'nav/pagination.html.twig' with {'paginate': paginate, 'path': 'bikes_page_list'} %}
{% endblock %}
